/*Specification */
body {
    width: 100%;
    height: 100vh;
    background: #bebebe;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: none;
}

.red {
    background: #f44029;
}

.mo-sport {
    background: #fdb62d;
    padding: 100px 0 0;
    position: relative;
}

.mo-sport h1 {
    color: #fff;
    padding: 0 0 20px;
    font-size: 65px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.mo-sport p {
    font-size: 1rem;
    color: #fff;
}

.mo-sport__heading-area {
    margin: 0 0 40px;
    position: relative;
}

.mo-sport__heading-area:before {
    content: "";
    position: absolute;
    top: 105%;
    left: 0;
    display: block;
    width: 100px;
    height: 1px;
    background: #fff;
}

.mo-sport__heading-area:after {
    content: "";
    position: absolute;
    top: 98.5%;
    left: 0;
    display: block;
    width: 300px;
    height: 3px;
    background: #fff;
}


.mo-sport__image {
    max-width: 100%;
}

.btn-mo {
    display: block;
    width: 190px;
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    position: relative;
    transition: all 0.4s easy-in-out;
    text-align: center;
    border-radius: 22px;
}

.btn__text {
    color: #fff;
}